In [1]:
import numpy as np
import pandas as pd
from scipy.spatial import distance
import matplotlib.pyplot as plt
import seaborn as sn

In [2]:
library, cases = pd.read_csv("input\library.csv"), pd.read_csv('input\cases.csv')

In [3]:
library

     Outlook  Temperature  Humidity   Windy  Play
0      Sunny          Hot      High   False    No
1      Sunny          Hot      High    True    No
2   Overcast          Hot      High   False   Yes
3      Rainy         Mild      High   False   Yes
4      Rainy         Cool    Normal   False   Yes
5      Rainy         Cool    Normal    True    No
6   Overcast         Cool    Normal    True   Yes
7      Sunny         Mild      High   False    No
8      Sunny         Cool    Normal   False   Yes
9      Rainy         Mild    Normal   False   Yes
10     Sunny         Mild    Normal    True   Yes
11  Overcast         Mild      High    True   Yes
12  Overcast          Hot    Normal   False   Yes
13     Rainy         Mild      High    True    No

In [4]:
cases

    Outlook  Temperature  Humidity   Windy
0     Sunny         Mild    Normal   False
1     Rainy         Cool    Normal   False
2  Overcast         Cool      High   False
3     Sunny         Cool      High    True
4     Rainy          Hot      High    True
5     Rainy         Cool      High    True

# Retrieve
Tahap retrieve merupakan tahapan mencari solusi dari kasus lama yang relevan dengan kasus baru. Nilai kesamaan antara kasus lama dengan kasus baru akan dicari pada tahap ini.Terdapat beberapa metode retrieve yang bisa digunakan, yaitu nearest neighbor similarity [9], [11], [13], hamming distance similarity [11],  euclidean distance similarity, dan minkowski distance similarity [9], [10].Penelitian ini menggunakan metode euclidean distance similarity untuk  menemukan solusi kasus lama yang relevan dengan kasus baru